img {
  width: 150px;
  margin: 10px;
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
  text-align: center;
}
button {
  padding: 5px 10px;
  cursor: pointer;
}

#myImage {
  width: 500px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}
#counterValue {
  font-size: 24px;
  margin: 20px;
}
