body {
  font-family: Arial, sans-serif;
  margin: 50px;
}
form {
  width: 300px;
}
input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}
button {
  padding: 10px 20px;
  cursor: pointer;
}
#displayData {
  margin-top: 20px;
  border: 1px solid #000;
  padding: 15px;
  width: 300px;
}

/* Q2 */

.item {
  width: 400px;
  border: 1px solid #000;
  padding: 15px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}
button {
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

/* Q3 */
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
  text-align: center;
}
input,
button {
  margin: 5px 0;
  padding: 5px;
}
#editForm {
  display: none;
  border: 1px solid #000;
  padding: 10px;
  width: 300px;
  margin-top: 20px;
}
